@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}

/* --------- barra lateral ---------- */

body{
    background: #f5efd7;
}
.wrapper{
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #6c1413;
    padding: 20px 0;
}

.wrapper .sidebar h2{
    font-size:xx-large; 
    color: #f5efd7;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.397);
    
}

.wrapper .sidebar ul li a{
    color: #f5efd7;
    display: block; 
}

.wrapper .sidebar ul li a .fas{
    width: 25px;

}

.wrapper .sidebar ul li:hover{
    background: #8a2927;
}

.wrapper .main_content{
width: 100%;
margin-left: 200px;
}

.wrapper .main_content .header{
text-align: center;
font-size: x-small;
padding: 20px;
background-color: #232323;
color:rgb(255, 255, 255);
border-bottom: 1px solid;

}

.wrapper .main_content .info{
    font-size: small;
    margin: 30px;
    color:#232323;
    line-height: 20px;

}
/* --------- el video ---------- */
iframe{
    
    display: block; 
    margin-left: 600px;
    margin-right: auto; 
    margin-top: 100px;
}




/* --------- el carrusel ---------- */



.carrusel {
    position: relative;
    width: 70%;
    max-width: 1200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-left: 350px;
}

.carrusel-interior {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-elemento {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
}

.carrusel-elemento img {
    width: 100%;
    height: auto;
    display: block;
}

.carrusel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    margin: 0 10px;
}

.carrusel-control.anterior {
    left: 10px;
}

.carrusel-control.siguiente {
    right: 10px;
}

/* --------- el formulario ---------- */

h1 {
    text-align: center;
    width: 100%;
    color: #8a2927;
}
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px; 
    padding: 20px;
    background: #8a2927;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-sizing: border-box;
    margin-block: center;
    margin-left: 350px;
    margin-top: 100px;
}

.contacto {
    padding: 20px;
    background: #232323;
    border-radius: 10px;
    margin-right: 20px;
}

.contacto h3, p {
    margin-top: 0;
    color: #c3c3c3;
}

.contenedor form {
    width: 60%; 
}

.contenedor form label {
    width: 100%;
    margin-bottom: 5px;
    color: #cdcdcd;
}

.contenedor form input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #232323;
    border-radius: 15px;
    box-sizing: border-box;
}


.contenedor form h2 {
    margin-bottom: 10px;
    text-align: center;
    color: #f5efd7;
}

.contenedor form button[type="submit"] {
    margin-left: 170;
    background-color: #232323;
    color: #f5efd7;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.contenedor form button[type="submit"]:hover {
    background-color: #434343;
}